{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src=" {{ game.image.url }}">
                    <div>
                        <p>Developer: {{ game.developer }}</p>
                    </div>
                    <h2 class="card-title">{{ game.title }}</h2>
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                    <div class="score">{{ game.score }}</div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{ game.description | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mt-3 mb-8">
            <h3 class="card-title text-center text-uppercase text-warning">Reviews</h3>
                
            {% for review in reviews %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-text position-relative p-3">
                            <span class="position-absolute top-0 start-0">{{ review.username }}</span>
                            <span class="position-absolute top-0 start-50 translate-middle-x">
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                                <div class="score">{{ review.score }}</div>
                            </span>
                            <span class="position-absolute top-0 end-0">{{ review.created_on }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{ review.body | safe }}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="mb-8">
            <div class="card mb-2">
                <div class="card-body">
                    {% if reviewed %}
                    <div class="alert alert-success" role="alert">
                        Your review is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}

                    <h3>Add Review:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ review_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <h3><a href="{% url 'account_signup' %}">Sign up</a> or <a href="{% url 'account_login' %}">log in</a> to leave a review</h3>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', starRating);

    function starRating() {
        
        const scores = document.querySelectorAll(".score")
        for (let score in scores) {
            const rating = scores[score].innerText;
            const ratingPercent = (rating / 5) * 100;
            const ratingPercentRounded = `${Math.round
            ((ratingPercent) / 10) * 10}%`;
            document.querySelectorAll(".stars-inner")[score].style.width = ratingPercentRounded;
        }
        
    }

</script>

{%endblock%}