{% extends "base.html" %}

<!-- Title -->
{% block title %}
Choose a game to review
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-4">
            <div class="card text-yellow bg-dark text-center">
                <h1 class="card-title">
                    Welcome to Royal Robot Reviews
                </h1>
                <div class="card-body">
                    <p>Where you can read & write genuine reviews on some amazing games</p>
                    <p>Pick a game below to review</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Games Column -->
        <div class="col-12 my-3 left">
            <div class="row">

            {% for game in game_list %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card bg-dark text-yellow h-100">
                        <div class="card-body game-link d-flex flex-column">
                            <img class="card-img-top flex-grow-1" src=" {{ game.image.url }}">
                            <div class="text-center">
                                <h2 class="card-title">{{ game.title }}</h2>
                                <div class="stars-outer fs-2">
                                    <div class="stars-inner"></div>
                                </div>
                                <p>Developer: {{ game.developer }}</p>
                                <div class="score visually-hidden-focusable">{{ game.score }}</div>
                            </div>
                            <a href="{% url 'game_detail' game.slug %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{%endblock%}