{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Games Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for game in game_list %}
                <div class="col-md-4">
                    <div class="card m-4 bg-secondary text-warning">
                        <div class="card-body h-50">
                            <img class="card-img-top h-75" style="object-fit: cover" src=" {{ game.image.url }}">
                            <div>
                                <p>Developer: {{ game.developer }}</p>
                            </div>
                            <h2 class="card-title">{{ game.title }}</h2>
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                            <div class="score visually-hidden-focusable">{{ game.score }}</div>
                            <a href="{% url 'game_detail' game.slug %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>

            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{%endblock%}